### 181. 표에서 하나의 행을 하나의 리스트로, 총 3개의  갖는 apart 리스트를 정의

```
[[],[]] 이런 식으로 중괄호 안에 중괄호 사용해서 2차원 리스트 생성 가능
```

In [1]:
apart = [['101호, 102호'], ['201호', '202호'], ['301호', '302호']]
print(type(apart))
print(apart)

<class 'list'>
[['101호, 102호'], ['201호', '202호'], ['301호', '302호']]

### 182. 표에서 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 리스트 stock을 정의

In [3]:
stock = [['시가', 100, 200, 300], ['종가', 80, 210, 330]]
print(type(stock))
print(stock)

<class 'list'>
[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

### 183. 표를 딕셔너리로 표현

```
딕셔너리의 value로 리스트도 저장 가능
```

In [4]:
stock1 = {'시가' : [100, 200, 300], '종가': [80, 210, 330]}
print(stock1['시가'])
print(stock1['종가'])

[100, 200, 300]
[80, 210, 330]

### 184. 표를 딕셔너리로 표현

In [5]:
stock2 = {'10/10' : [80, 110, 70, 90], '10/11' : [210, 230, 190, 200]}
print(stock2['10/10'])
print(stock2['10/11'])

[80, 110, 70, 90]
[210, 230, 190, 200]

### 185. 이차원 리스트의 출력

```python
for i in range(len(apart1)) :
    print(apart1[i])
```
```
[101, 102]
[201, 202]
[301, 302]
출력됨
```

In [9]:
apart1 = [[101, 102], [201, 202], [301, 302]]

for row in apart1 :
    for col in row:
        print(f'{col}호')

101호
102호
201호
202호
301호
302호

### 186. 이차원 리스트의 출력

In [12]:
apart1 = [[101, 102], [201, 202], [301, 302]]

for row in apart1[::-1] :
    for col in row:
        print(f'{col}호')

301호
302호
201호
202호
101호
102호

### 187. 2차원 리스트의 출력

In [13]:
apart1 = [[101, 102], [201, 202], [301, 302]]

for row in apart1[::-1] :
    for col in row[::-1]:
        print(f'{col}호')

302호
301호
202호
201호
102호
101호

### 188. 2차원 리스트의 출력

In [22]:
apart1 = [[101, 102], [201, 202], [301, 302]]

for row in apart1 :
    for col in row:
        print(f'{col}호')
        print('-'*5)

101호
-----
102호
-----
201호
-----
202호
-----
301호
-----
302호
-----

### 189. 이중 리스트의 출력

In [23]:
apart1 = [[101, 102], [201, 202], [301, 302]]

for row in apart1 :
    for col in row:
        print(f'{col}호')
    print('-'*5)

101호
102호
-----
201호
202호
-----
301호
302호
-----

### 190. 이중 리스트의 출력

In [24]:
apart1 = [[101, 102], [201, 202], [301, 302]]

for row in apart1 :
    for col in row:
        print(f'{col}호')
print('-'*5)

101호
102호
201호
202호
301호
302호
-----